<% if @name %>
<h1> My name is <%= @name %> </h1>
<% end %>
<!-- <form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="submit">
</form> -->
<div>
  <img style='border: 3px dashed red' src= http://bit.ly/1eze8aE>
</div>
